*{
margin : 0;
padding : 0;
box-sizing : border-box;
text-decoration : none;
list-style : none;
}
.container{
    margin : 0 auto;
    width : 80%;
    max-width : 1400px;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 130px;
}
.box{
    border: 0.5px solid rgb(208, 208, 208);
    width: 300px;
    height: 250px;
    padding: 40px;
    background-color: rgba(65, 37, 83, 0.667);
    transition: 0.5s ease all;

}
.icon{
    text-align: center;
    font-size: 50px;
    color: pink;
    transition: 0.5s ease all;
}
p{
    color: white;
    margin-top: 20px;
    font-size: 30px;
}
.box:hover .icon{
    transform: translateY(-10px) scale(1.1);
}
.box:hover{
     background-color: rgba(65, 37, 83, 0.401);
}