

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600&display=swap');

*{
    margin : 0;
padding : 0;
box-sizing : border-box;
text-decoration : none;
list-style : none;
font-family: "Josefin Sans",sans-serif;}
.container{
    margin : 0 auto;
    width : 80%;
    max-width : 1400px;
}
.watchs{
    display: flex;
    justify-content: space-around ;
    padding: 40px;
}
.watch_text{
    margin-top: 15px;
    text-align: center;
}
span{
    font-size: 18px;
    color: red;
    display: block;
    margin-top: 10px;
}
.watch_image{
    overflow: hidden;
   
}
.watch_image:hover img{
   
    transform: scale(1.1);
}
img{
    transition: 1s ease all;
}